[submodule "lisa_gnn"]
	path = lisa_gnn
	url = https://github.com/ecolab-nus/lisa_gnn
	branch = main
[submodule "morpher_mapper"]
	path = morpher_mapper
	url = https://github.com/ecolab-nus/Morpher_CGRA_Mapper
	branch = lisa
